<!doctype html>
<html>
  <head>
    <title>Twisted Tower</title>

    <style>
      body {
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
      }

      #canvas {
        left: 0;
        position: absolute;
        width: 100%;
      }
    </style>
  </head>
  <body>

    <canvas id="canvas"></canvas>

  </body>
</html>
